.navbar {
    width: 100%;
    background-color: #fff;
  }
  
  .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .iconGroup {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .iconGroup svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .iconGroup svg:hover {
    fill: #333;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .bottomSection {
    display: none;
  }

  .bottomSection2 {
    display: none;
  }

  .optionGroup {
    display: flex;
    gap: 3rem;
    font-size: 12px;
    font-weight: bold;
  }

  .languageSelector {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .hidden {
    display: none;
}

    .visible {
        display: flex;
        justify-content: center;
    }
  
  @media (min-width: 601px) {
    .bottomSection {
      display: flex;
      justify-content: center;
    }
    .menuIcon {
      display: none;
    }
    .languageSelector {
        display: flex;
        align-items: center;
    }
  }
  
  @media (max-width: 600px) {
    .menuIcon {
      display: block;
    }
    .languageSelector {
      display: none;
    }
  }
  
  