  .divider {
    width: 100%;
    height: 1px;
    background-color: #c2c4c7;
    margin-block: 1rem;
  }

  .verticalDivider {
    width: 1px;
    height: 100%;
    background-color: #c2c4c7;
  }
  
  .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .mobileTopSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
  }
  
  .itemsInfo {
    display: flex;
    gap: 6rem;
    align-items: center;
  }
  
  .itemsCount {
    font-size: 14px;
    font-weight: bold;
  }
  
  .filterToggle {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: #c2c4c7;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .dropdownWrapper {
    position: relative;
  }
  
  .dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    font-family: Simplon Norm;
    font-size: 14px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  }

  .dropdownItem {
    padding: 5px;
  }

  .selected {
    font-family: Simplon Norm;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .filter {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
  }
  
  .rowLayout {
    display: flex;
  }
  
  .columnLayout {
    display: flex;
    flex-direction: column;
  }
  
  .filterWrapper {
    width: 25%;
  }

  @media (max-width: 600px) {
    .filterWrapper {
      width: 100%;
      transition: ease-in 0.3s;
    }

    .dropdownWrapper {
      width: 50%;
    }

    .dropdownButton {
      width: 100%;
    }

    .topSection::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 25px;
      background: #c2c4c7;
      left: 50%;
      transform: translateX(-50%);
    }
  }