.grid {
    display: grid;
    gap: 1.25rem;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
  }
  
  .image {
    object-fit: contain;
    margin: 10px auto;
  }
  
  .title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 800;
  }
  
  .description {
    font-size: 14px;
    font-weight: 400;
    color: #555;
  }
  
  .bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    color: green;
    font-weight: bold;
  }
  
  .favorite {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
  }
  